@charset 'utf-8'; 


// import로 사용 사능
@import "./common/common.scss";


.content {
    width: 100%;
    height: 100px;
    background: #333;

    .item {
        color: blue;
    }
}

p {
    transform: translateX(-50%);
}