<!DOCTYPE html>
<html lang="en">
<head>

    @@include('../../header/head.html', {
        "title" : "rolling-value"
    })
    
    
    <body>
        <ul class="list-rotation">
            <li class="list-item">
                <dl>
                    <dt>VALUE01</dt>
                    <dd class="cdd-change_value">21</dd>
                    <dd class="cdd-change_count"><div class="value_arrow increase"></div><div class="cv">0</div></dd>
                </dl>
            </li>
            <li class="list-item">
                <dl>
                    <dt>VALUE02</dt>
                    <dd class="cdd-change_value">221</dd>
                    <dd class="cdd-change_count"><div class="value_arrow decrease"></div><div class="cv">0</div></dd>
                </dl>
            </li>
            <li class="list-item">
                <dl>
                    <dt>VALUE03</dt>
                    <dd class="cdd-change_value">2</dd>
                    <dd class="cdd-change_count"><div class="value_arrow keep"></div><div class="cv">0</div></dd>
                </dl>
            </li>
            <li class="list-item">
                <dl>
                    <dt>VALUE04</dt>
                    <dd class="cdd-change_value">2441</dd>
                    <dd class="cdd-change_count"><div class="value_arrow decrease"></div><div class="cv">0</div></dd>
                </dl>
            </li>
            <li class="list-item">
                <dl>
                    <dt>VALUE05</dt>
                    <dd class="cdd-change_value">21</dd>
                    <dd class="cdd-change_count"><div class="value_arrow increase"></div><div class="cv">0</div></dd>
                </dl>
            </li>
        </ul>

        @@include('../../footer/scriptArea.html', {

        })

        <script>

class Pacinco {
            constructor(name, options) {
                this.name = name;
                this.options = options;
                this.storage = [];
                this.baStorage = {
                    id : '',
                    before : 0,
                    after : 0
                }
            };

            getNumberLength(ele) {
                let getObj = [];
                Object.values(ele).map((target, index)=> {
                    const tTxt = target.innerText;
                    const tLength = tTxt.length;

                    getObj = [
                        ...getObj,
                        {
                            txt : tTxt,
                            length : tLength
                        }
                    ]

                })


                return getObj
            };

            getNumb(num) {
                let data = String(num);

                return [...data]
            }

            crtHTML(name, number) {
                const targets = document.querySelectorAll(name);
                const getNL = this.getNumberLength(targets);

                // ul 만들기
                getNL.map((NL, index) => {
                    targets[index].id = `pRoot-${index}`
                    const crtUl = document.createElement("ul")

                    // 초기 li 삽입
                    for(let a = 0; a<NL.length; a++) {
                        const crtLi = document.createElement("li");
                        const liTemp = `
                            <span>0</span>
                            <span>1</span>
                            <span>2</span>
                            <span>3</span>
                            <span>4</span>
                            <span>5</span>
                            <span>6</span>
                            <span>7</span>
                            <span>8</span>
                            <span>9</span>
                        `;
                        crtLi.innerHTML = liTemp;
                        crtLi.className=`pacinco-item pacinco-item-${a}`;
                        crtLi.dataset.number = '0';
                        if(a <= NL.length) {
                            crtUl.appendChild(crtLi)
                        }
                    };

                    //기존 값 초기화
                    targets[index].innerText = '';
                    //ul에 index에 맞는 클래스 생성
                    crtUl.className=`pacinco-list pacinco-list-${index}`;
                    // ul html 작성
                    targets[index].appendChild(crtUl);

                    const crtV = document.createElement("div");
                    crtV.className = 'v sr-only'
                    targets[index].prepend(crtV)

                });
            };

            addOrRemove(name, value) {
                const getLength = name.querySelectorAll("li")
                const inboundNumber = value;

                let valueStorage = [];
                if(this.getNumb(inboundNumber).length > getLength.length) {
                    // console.log("들어온 자리수가 많다", this.getNumb(inboundNumber).length, getLength.length, '---->',inboundNumber)
                    // addRail
                    this.addRail(name, inboundNumber, this.getNumb(inboundNumber).length - getLength.length)
                }else {
                    if(this.getNumb(inboundNumber).length < getLength.length) {
                        // console.log("기존 자리수가 많다", this.getNumb(inboundNumber).length, getLength.length)
                        // removeRail
                        this.removeRail(name, inboundNumber, this.getNumb(inboundNumber).length - getLength.length)
                    }else {
                        // console.log("같다", this.getNumb(inboundNumber).length, getLength.length)
                        // rolling
                    }
                }

            }

            addRail(name) {
                const selectUl = name.querySelector("ul")
                const crtLi = document.createElement("li");
                const test = `
                        <span>0</span>
                        <span>1</span>
                        <span>2</span>
                        <span>3</span>
                        <span>4</span>
                        <span>5</span>
                        <span>6</span>
                        <span>7</span>
                        <span>8</span>
                        <span>9</span>
                    `;

                crtLi.innerHTML = test;
                crtLi.className=`pacinco-item pacinco-item-${selectUl.childElementCount}`
                selectUl.appendChild(crtLi)
            };
            removeRail(name) {
                const selectUl = name.querySelector("ul")

                selectUl.querySelector("li:last-child").remove();
            }

            rolling(name, value) {
                const _id = document.querySelector(name);
                const _li = _id.querySelectorAll("li");
                
                _id.querySelector(".v").innerHTML = value;
                
                for(let liC = 0; liC<_li.length; liC++) {
                    setTimeout(()=> {
                        _li[liC].style.transform = `translateY(-${this.getNumb(value)[liC]}0%)`;
                        _li[liC].dataset.number = this.getNumb(value)[liC];
                    }, 250 * liC)
                }
            }

            calcCount(name, aV) {
                const _id = document.querySelector(name);
                const _count = document.querySelector(`${name} + .cdd-change_count`);
                
                const beforeCv = Number(_id.querySelector(".v").innerText);

                if(beforeCv === aV) {
                    // 값이 같다면
                    console.log(beforeCv, aV, beforeCv == aV)
                    _count.querySelector(".cv").innerText =  0
                    _count.querySelector(".value_arrow").className = "value_arrow keep"
                }else {
                    if(beforeCv < aV) {
                        // 새로운 값이 더 크다면
                    _count.querySelector(".cv").innerText =  Math.abs(beforeCv - aV)
                    _count.querySelector(".value_arrow").className = "value_arrow increase"

                    }else {
                        // 기존 값이 더 크다면
                        _count.querySelector(".cv").innerText =  Math.abs(beforeCv - aV);
                        _count.querySelector(".value_arrow").className = "value_arrow decrease"


                    }
                }
                console.log('before',beforeCv,'after', aV,'=', Math.abs(beforeCv - aV))

            }

        


            destroy(name, option) {
                if(option !== 'update') {
                    const target = document.querySelectorAll(this.name);
                    Object.values(target).map((ele)=> {
                    })
                }else {
                    const target = document.querySelector(name);
                    target.innerText = ''
                    console.log("여기")
                }

            };

            update(id, number) {

                const target = document.querySelector(id);
                
                this.addOrRemove(target,number);
                this.calcCount(id, number);
                this.rolling(id, number)

            }

          

            init() {
                this.crtHTML(this.name);
            }

        }

        const test = new Pacinco(".cdd-change_value", {
            direction : 'left', //default 'left'
        })
        test.init();

        window.addEventListener("dblclick", ()=> {
            const randNumber = Math.floor(Math.random()*1000)
            const randNumber2 = Math.floor(Math.random()*100)
            const randNumber3 = Math.floor(Math.random()*10)
            const randNumber4 = Math.floor(Math.random()*10000)
            const randNumber5 = Math.floor(Math.random()*100)
            test.update("#pRoot-0", randNumber)

            test.update("#pRoot-1", randNumber2)
            test.update("#pRoot-2", randNumber3)
            test.update("#pRoot-3", randNumber4)
            test.update("#pRoot-4", randNumber5)
        })


        </script>
    </body>
</head>