@import './basic/basic.scss';
@import './basic/basic2.scss';
@import './layout/layout.scss';
@import './layout/layout2.scss';


.tui-datepicker {
    display: flex;
    flex-direction: column;
}

.tui-datepicker-footer {
    display: none;

    &.active {
        display: block;
    }
}

.tui-timepicker-select[data-picker="year"] {
    width: 60px;
}




.test_es {
    /* es style area */
    // 주석
    font-weight: 600;
}
