<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>rolling-value component</title>

    <link rel="stylesheet" href="../../assets/style/css/test.css">
</head>
<body>
    <custom-input name="꼬꼬"></custom-input>
    <custom-input name="메롱"></custom-input>
    <custom-input name="삐삐"></custom-input>
   

    

    <script src="../../assets/script/tooltip.js"></script>

</body>
</html>