<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>timepicker</title>
    <link rel="stylesheet" href="/assets/style/index.css">
</head>
<body>
    
    <div>
        <input type="text" id="gpPicker" class="gp_picker-1" data-mode="3">
    </div>

    <div style="margin-top: 400px">
        <input type="text" id="gpPicker" class="gp_picker-2" data-mode="2">
    </div>

    <script src="/assets/script/gpPicker.js"></script>
</body>
</html>