<!DOCTYPE html>
<html lang="en">
<head>
    <!-- <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>timepicker</title> -->

    @@include('../../header/head.html', {
        "title" : "timepicker"
    })
    
</head>

<body style="height: 2000px; position: relative;">
        <div style="background-color: #000; width: 100px; height: 200px;">
            <i class="ico ico-ico_timeline-next"></i>
        </div>
    
    
    <div class="scrolled" style="overflow-y: scroll; height : 100px">

        <div style="height: 500px;">
            <div>
                <!-- id 제거 -->
                <input type="text" id="testpicker" class="timepicker1 add_class_name">
            </div>
        </div>
    </div>

    <div style="margin-top: 400px;">
        <!-- id 제거 -->
        <input type="text" id="testpicker2" class="timepicker2 add_class_name">
    </div>
    <div style="position: absolute; top: 400px; right:90px;">
        <!-- id 제거 -->
        <input type="text" id="testpicker3" class="timepicker3 add_class_name">
    </div>

    
    <!-- gpPicker.js 용 -->

    @@include('../../footer/scriptArea.html', {

    })
    <script>
        var test1 = new YogoUI("#testpicker", {
            type : "timepicker", // 사용할 타입 선언
            timeSet : "00:00:00", // 00:00:00 , 00:00
        })
        test1.init({
            hasScrollBar : {
                ele : ".scrolled",
                useScrollType : "window", // window, position( use top position of value  ) 
            },

        });

        var test2 = new YogoUI("#testpicker2", {
            type : "timepicker", // 사용할 타입 선언
            timeSet : "00:00", // 00:00:00 , 00:00
            // tObPosition : 'top'
            
        })
        test2.init();

        var test3 = new YogoUI("#testpicker3", {
            type : "timepicker", // 사용할 타입 선언
            timeSet : "00:00:00", // 00:00:00 , 00:00
            tObPosition : 'top',// 드롭 다운 매뉴의 상하단 노출 위치 변경 default : bottom

        })
        test3.init();

    </script>
</body>
</html>