<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>rolling-value component</title>

    <link rel="stylesheet" href="../../assets/style/css/test.css">
</head>
<body>
    
    <ul class="list-rotation">
        <li class="list-item">
            <dl>
                <dt>VALUE01</dt>
                <dd class="cdd-change_value">21</dd>
                <dd class="cdd-change_count"><div class="value_arrow increase"></div><div class="cv">0</div></dd>
            </dl>
        </li>
        <li class="list-item">
            <dl>
                <dt>VALUE02</dt>
                <dd class="cdd-change_value">221</dd>
                <dd class="cdd-change_count"><div class="value_arrow decrease"></div><div class="cv">0</div></dd>
            </dl>
        </li>
        <li class="list-item">
            <dl>
                <dt>VALUE03</dt>
                <dd class="cdd-change_value">2</dd>
                <dd class="cdd-change_count"><div class="value_arrow keep"></div><div class="cv">0</div></dd>
            </dl>
        </li>
        <li class="list-item">
            <dl>
                <dt>VALUE04</dt>
                <dd class="cdd-change_value">2441</dd>
                <dd class="cdd-change_count"><div class="value_arrow decrease"></div><div class="cv">0</div></dd>
            </dl>
        </li>
        <li class="list-item">
            <dl>
                <dt>VALUE05</dt>
                <dd class="cdd-change_value">21</dd>
                <dd class="cdd-change_count"><div class="value_arrow increase"></div><div class="cv">0</div></dd>
            </dl>
        </li>
    </ul>

    

    <!-- <script src="../../assets/script/index.js"></script> -->
    

    <script src="../../assets/script/index.js"></script>

</body>
</html>