<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    @@include('../../header/head.html', {
        "title" : "timepicker"
    })
</head>
<body style="margin: 30px;">
    <div id="yogo_selector_01" class="yogo_selector yogo_selector_01"></div>

    <div style="margin-top: 100px;" id="yogo_selector_02" class="yogo_selector yogo_selector_01"></div>

    @@include('../../footer/scriptArea.html', {

    })
    <script>
        const dummyData_2_depth = [
            {
                depth_0 : [
                    {
                        value : "카테고리0"
                    }
                ],
                depth_1 : [
                    {
                        checked : false,
                        value : "카테고리0-1",
                        // addHtml : "<ico></ico>"
                    },
                    {
                        checked : false,
                        value : "카테고리0-2",
                    },
                    {
                        checked : false,
                        value : "카테고리0-3",
                    },
                    {
                        checked : false,
                        value : "카테고리0-4",
                    },
                    {
                        checked : false,
                        value : "카테고리0-5",
                    },
                    {
                        checked : false,
                        value : "카테고리0-6",
                    },
                    {
                        checked : false,
                        value : "카테고리0-7",
                    },
                    {
                        checked : false,
                        value : "카테고리0-8",
                    },
                    
                ],
            },
            {
                depth_0 : [
                    {
                        checked : false,
                        value : "카테고리1"
                    }
                ],
                depth_1 : [
                    {
                        checked : false,
                        value : "카테고리1-1",
                    },
                    {
                        checked : false,
                        value : "카테고리1-2",
                    },
                    {
                        checked : false,
                        value : "카테고리1-3",
                    },
                    {
                        checked : false,
                        value : "카테고리1-4",
                    },
                    {
                        checked : false,
                        value : "카테고리1-5",
                    },
                    {
                        checked : false,
                        value : "카테고리1-6",
                    },
                    {
                        checked : false,
                        value : "카테고리1-7",
                    },
                    {
                        checked : false,
                        value : "카테고리1-8",
                    },
                    
                ],
            },
            {
                depth_0 : [
                    {
                        checked : false,
                        value : "카테고리3"
                    }
                ],
                depth_1 : [
                    {
                        checked : false,
                        value : "카테고리3-1",
                    },
                    {
                        checked : false,
                        value : "카테고리3-2",
                    },
                    {
                        checked : false,
                        value : "카테고리3-3",
                    },
                    {
                        checked : false,
                        value : "카테고리3-4",
                    },
                    {
                        checked : false,
                        value : "카테고리3-5",
                    },
                    
                ],
            },
           
        ];

        const dummyData_1_depth = [
            "a1",
            "a2",
            "a3",
            "a4",
            "aaaaa3",
            "aaa33333",
            "333",
            "a1",
            "a2",
            "a3",
            "a4",
            "aaaaa3",
            "aaa33333",
            "333",
            "a1",
            "a2",
            "a3",
            "a4",
            "aaaaa3",
            "aaa33333",
            "333",
            "a1",
            "a2",
            "a3",
            "a4",
            "aaaaa3",
            "aaa33333",
            "333"
        ]

        var test3 = new YogoUI("#yogo_selector_01", {
            type : "multiselector",
            search : true,
            depthLength : 2,
            textEllipsis : {
                length : 2,
                // subTextTemplate : '외 @@개 있습니다.' // @@에 숫자가 들어감.
            },
            sortColor : [
                "#a52a2a",
                "#ff8c00",
                "#6b8e23"
            ],
            allCheckControler : true,
            data : dummyData_2_depth,
            mode : [
                // "sticky",
                // "category_smooth", // transition
            ]
        });

        test3.init()
        

        var test4 = new YogoUI("#yogo_selector_02", {
            type : "multiselector",
            search : true,
            depthLength : 1,
            textEllipsis : true,
            allCheckControler : true,
            data : dummyData_1_depth,
            mode : [
                "category_smooth",
            ]
        });
        test4.init()
    </script>
</body>
</html>